version: '3.9'

services:
  app:
    build: .
    container_name: myapp
    ports:
      - "3000:3000"

  nginx:
    image: nginx:alpine
    container_name: mynginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./client/dist:/usr/share/nginx/html
    depends_on:
      - app
